body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background: url('../static/fondito.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #333;
}

.menu {
  background: linear-gradient(90deg, #433999, #912182, #00115a, #000155);
  padding: 14px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.menu a {
  color: white;
  margin: 0 20px;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
}

.contenedor {
  max-width: 800px;
  margin: 40px auto;
  background: rgba(255, 255, 255, 0.85);
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  background: linear-gradient(90deg, #6930b4, #6930b4, #6930b4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}

form input, form button, select {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #f9f9f9;
}

form button {
  background: linear-gradient(45deg, #433999, #912182, #00115a, #000155);
  color: white;
  font-weight: 600;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  padding: 12px;
  transition: transform 0.3s, box-shadow 0.3s;
  background-size: 300% 300%;
  animation: moverFondo 6s ease infinite;
}

@keyframes moverFondo {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.tarjetas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.tarjeta {
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #ffffff;
  padding: 16px;
  text-align: center;
  box-shadow:
    0 4px 10px rgba(255, 64, 129, 0.3),
    0 0 8px rgba(0, 201, 255, 0.2);
  transition: transform 0.2s;
  animation: fadeInUp 0.6s ease;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.tarjeta:hover {
  transform: translateY(-5px);
}

.tarjeta-img {
  width: 100%;
  height: 200px; /* más alto */
  object-fit: contain; /* para que la imagen completa se vea sin recortar */
  background-color: #f4f4f4; /* color de fondo en caso de espacios vacíos */
  border-radius: 6px;
  margin-bottom: 12px;
  padding: 5px; /* pequeño margen interno para que no pegue al borde */
}


.btn-eliminar {
  display: inline-block;
  background: #6541ca;
  color: white;
  padding: 8px 16px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 0.9rem;
  margin-top: 10px;
  transition: background 0.3s;
}

.btn-eliminar:hover {
  background: #0e074d;
}

.btn-editar {
  display: inline-block;
  background: #2a0c52;
  color: white;
  padding: 8px 16px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 0.9rem;
  margin-top: 10px;
  transition: background 0.3s;
}

.btn-editar:hover {
  background: #a04dff;
}
