<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Login Administrador</title>
  <link rel="stylesheet" href="/static/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>

  <div class="contenedor" style="margin-top: 80px;">
    <h1>Acceso de Administrador</h1>

    {% if error %}
      <p style="color: red;">{{ error }}</p>
    {% endif %}

    <form method="POST">
      <input type="text" name="usuario" placeholder="Usuario" />
      <input type="password" name="clave" placeholder="Contraseña" />
      <button type="submit">Iniciar Sesión</button>
    </form>
  </div>

</body>
</html>
